* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Lato'; 
}

.header {
	padding-bottom: 20px;
}

.main-content {
	width: 80vw;
	margin-left: 20vw; 
	padding: 5%;
}


title.h2 {
	padding-top: 20px;
}

.wrapper .main-content .links {
	padding: 30px;
}

.wrapper2 {
	display: flex; 
	flex-direction: row; 
	
}

.boxcontainer {
	padding: 20px;
	
}

.kasse1 { 
	height: 100px; 
	width: 100px; 
	margin-bottom: 10px; 
	background-color: #DFBCD7;
	border: solid;
	border-color: #5f5f5f;
	margin: 10px;
}

.kasse2 { 
	height: 100px; 
	width: 100px; 
	margin-bottom: 10px; 
	background-color: #EFD3E8;
	border: solid;
	border-color: #5f5f5f;
	margin: 10px;
}


.kasse3 { 
	height: 100px; 
	width: 100px; 
	margin-bottom: 10px; 
	background-color: #222222;
	border: solid;
	border-color: #5f5f5f;
	margin: 10px;
}

.kasse4 { 
	height: 100px; 
	width: 100px; 
	margin-bottom: 10px; 
	background-color: #F2F2F2;
	border: solid;
	border-color: #5f5f5f;
	margin: 10px;
}

.kasse5 { 
	height: 100px; 
	width: 100px; 
	margin-bottom: 10px; 
	background-color: #FFFFFF;
	border: solid;
	border-color: #5f5f5f;
	margin: 10px;
}

.textcontainer {
	margin-top: 25px;
	margin-bottom: 40px;
    background-color: #EFD3E8;
    padding: 30px;
    border-radius: 20px;
    width: 80%;
}

.anvendes {
	font-weight: bold;
}


.typograficontainer {
	display: flex;
	width: 100%;
}

.typograficontainer h1 {
	font-size: 32px;
	margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 150px;
    padding-left: 30px;
}

.typograficontainer h2 {
	font-size: 20px;
	margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 150px;
    padding-left: 30px;
}

.btn1 {
	margin: 30px;
	border: solid #DFBCD7;
	color: #fff;
	background-color: #DFBCD7;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	padding: 10px 30px 10px 30px;
	border-radius: 20px;
}

.btn1:hover {
	border: solid #DFBCD7;
	color: #DFBCD7;
	background-color: #fff;
}


.btn2 {
	margin: 30px;
	border: solid #DFBCD7;
	color: #000000;
	background-color: #ffffff;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
 	padding: 10px 30px 10px 30px;
	border-radius: 20px;
}

.btn2:hover {
	border: solid #FFFFFF;
	color: #FFFFFF;
	background-color: #DFBCD7;
}

