$primary-color: #DFBCD7;
$color-text-white: #f2f2f2;
$color-text-black: #222222;
$font:'Lato', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: $font;
	scroll-behavior: smooth;
}

#wrappper {
	display: flex;
 	position: relative;
}

#sidemenu {
	position: fixed;
	width: 20vw;
	height: 100vh;
	background-color: $primary-color;
	color: $color-text-black;
	padding: 5%;
	line-height: 4;
}

a {
	color: $color-text-black;
}

a:hover {
	text-decoration: underline;
}

.logo {
	width: 10vw;
	margin: 0 auto;
	align-items: center;
}
